/node_modules/
**/node_modules/

# misc
.DS_STORE
/.env
/.env*
/coverage/
/npm-debug.log*
/testem.log
.idea/

# compiled output
/dist/
/tmp/

# /credentials
# /credentials/asastral-reef-481108-n5-f860fdfed8e7.json

# ./credentials
# ./credentials/asastral-reef-481108-n5-f860fdfed8e7.json
# dependencies
/bower_components/
/node_modules/

# misc
/.env*
/.pnp*
/connect.lock
/coverage/
/libpeerconnection.log
/npm-debug.log*
/testem.log
/yarn-error.log
logs/
